* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: #f2f2f2;
    color: #111;
}

/* ================= HEADER ================= */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px;
}



.logo .dot {
    color: #ff4d6d;
}

.nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav a {
    text-decoration: none;
    color: #111;
    font-weight: 400;
    font-size: 14px;
}

.nav .lang {
    opacity: 0.5;
}

.nav .lang.active {
    opacity: 1;
    font-weight: 600;
}

.email-btn {
    background: #111;
    color: white !important;
    padding: 10px 18px;
    border-radius: 8px;
}

/* ================= HERO ================= */

.hero {
    padding: 60px 80px;
    position: relative;
    min-height: 80vh;
}

.intro {
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
    opacity: 0.8;
}

.title-wrapper {
    text-align: center;
    position: relative;
}

.title-main {
    font-size: 140px;
    font-weight: 900;
    line-height: 1;
}

.title-outline {
    font-size: 140px;
    font-weight: 900;
    line-height: 1;
    color: transparent;
    -webkit-text-stroke: 1px #111;
}

.location {
    margin-top: 20px;
    text-align: left;
    font-size: 18px;
    opacity: 0.8;
}

.buttons {
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

.btn {
    padding: 14px 24px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    text-decoration: none;   /* BỎ GẠCH CHÂN */
    display: inline-block;
    color: inherit;   /* giữ nguyên màu bạn đã set */
}

.btn.primary {
    background: #111;
    color: white;
    display: block;
    margin: auto;
}

.btn.outline {
    background: transparent;
    border: 1px solid #111;
    display: block;
    margin: auto;
}

/* ================= IMAGE ================= */

.image-wrapper {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.image-wrapper img {
    max-height: 430px;
}