
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800;900&display=swap');

/* ================= RESET ================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2 {
    text-align: center;
    font-size: 40px;}

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
    background: #fff;
    color: #111;
}

body { 
    opacity: 0; transform: translateY(10px); 
    animation: fadeIn 1s ease forwards; 
} 
@keyframes fadeIn { 
    to { opacity: 1; transform: translateY(0); } 
}

/* ================= GRID ================= */
#playersGrid {
    width: 100%;
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
/* ================= CARD ================= */
.bankCard {
        width: 100%;
        max-width: 150px;
        height: 100%;
        max-height: 220px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: transform 0.3s ease;
        border-radius: 25px;
    
}

/* Avatar scoped */
.bankCard .avatar {
    font-size: 60px;
    padding: 25px 0 20px 0 ;
}

.nameBox{
    font-size:25px;
    color:black;    
    border-radius:12px;
    font-weight:bold;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    padding: 35px auto;

}

.money{
    font-size:20px;
    font-weight:bold;
    color:#000;
    padding: 10px 0 50px 0 ;
}

/* ================= HEADER ================= */
.header {
    display: flex;
    flex-direction: column; /* mobile: logo trên, menu dưới */
    align-items: center;
    gap: 15px;
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    color: #111;
}

.logo .dot {
    color: #ff4d4d;
}

.btn-center {
    display: block;
    margin: 0 auto;
    padding: 12px 24px;
    border-radius: 8px;
    background: #111;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Inter', sans-serif;    cursor: pointer;
    border: none;
}

