#setupGrid{
    display:flex;
    gap:30px;
    justify-content:center;
    flex-wrap:wrap;
    margin-bottom:30px;
}

.setupCard{
    width:220px;
    height:320px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    position:relative;  
    transition:0.3s ease;
}

.setupCard:hover{
    transform:translateY(-8px);
}

.setupCard input{
    width:70%;
    padding:8px;
    border-radius:8px;
    border:none;
    text-align:center;
    font-weight:bold;
}

.avatar{
    font-size:80px;
    margin-bottom:25px;
}
.deleteBtn{
    position:absolute;
    top:12px;
    right:12px;
    width:32px;
    height:32px;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:16px;
    cursor:pointer;
}

.addCard{
    background:#ffffff00;
    border:5px dashed rgb(0, 0, 0);
    font-size:80px;
    cursor:pointer;
    color:rgb(0, 0, 0);
    align-items:center;
    justify-content:center;
}

#startMoney{
    width:250px;
    padding:12px;
    font-size:16px;
    border-radius:12px;
    border:none;
    text-align:center;
    display:table;
    margin:20px auto;
    text-align: center;
    font-weight: bold;
}

#startGameBtn{
    padding:10px 16px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-weight:600;
    transition: transform 0.2s ease, box-shadow 0.2s ease, background 0.2s ease;
    background:#000000;
    color:#ffffff;
    display: block;
    margin: auto;
}
#startGameBtn:hover{
    transform:translateY(-2px);
    box-shadow:0 8px 20px rgba(0,0,0,0.08);
    background:#dbeafe;
}

.randomAvatarBtn{
    margin-top:8px;
    padding:6px 10px;
    border:none;
    border-radius:8px;
    background:#000;
    color:#fff;
    cursor:pointer;
    font-size:14px;
    transition:0.2s ease;
}

.randomAvatarBtn:hover{
    background:#64748b;
}
